<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
body {
  font-family: "Segoe UI", sans-serif;
}

  img.bg {
        margin: 0;
        padding: 0;
        background-image: url(../../Content/Images/background.png);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        z-index: -999;
        top: 0;
        left: 100px;
    }

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.btn-orange {
     display:inline-block;
     padding:0.3em 1.2em;
     margin:0 0.1em 0.1em 0;
     border:0.16em solid rgba(255,255,255,0);
     border-radius:2em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Segoe UI',sans-serif;
     font-weight:300;
     color:royalblue;
     background-color:orange;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     text-align:center;
     transition: all 0.2s;
     width:10em;
     outline:none;
     box-shadow:none;
}

.btn-orange:hover{
     border-color: rgba(255,255,255,1);
     background-color:royalblue;
     color:whitesmoke;
}

.btn-blue {
     display:inline-block;
     padding:0.3em 1.2em;
     margin:0 0.1em 0.1em 0;
     border:0.16em solid rgba(255,255,255,0);
     border-radius:2em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Segoe UI',sans-serif;
     font-weight:300;
     color:whitesmoke;
     background-color:royalblue;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     text-align:center;
     transition: all 0.2s;
     width:15em;
     outline:none;
     box-shadow:none;
}

.btn-blue:hover{
     border-color: rgba(255,255,255,1);
     background-color:deepskyblue;
     color:black;
}

@@media all and (max-width:30em){
 .btn-orange{
     display:block;
     margin:0.2em auto;
 }
}
.btn-orange-old {
    border:none;
    outline:none;
    text-decoration:none;
    background-color:orange;
    color:royalblue;
    font-family:'Segoe UI';
    font-size:16px;
    font-weight:700;
    width:100px;
    box-shadow:2px 2px 2px royalblue;
    padding:5px;
}

.btn-orange-old:hover{
    background-color:royalblue;
    color:whitesmoke;    
    box-shadow:2px 2px 2px deepskyblue;
    transition:0.8s;
}

a {
    font-family:'Segoe UI';
}
@@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    </style>

</head>
<body>

    <img class="bg" src="~/Content/Images/background.png" />

    <div class="sidenav">
        <a href="@Url.Action("Index","Home")">
            <span style="font-weight:bold;font-size:1em;color:skyblue;-webkit-text-stroke-color:white;-webkit-text-stroke-width:1px;">Un</span>
            <span style="font-weight:bold;font-size:1em;color:orange;-webkit-text-stroke-color:white;-webkit-text-stroke-width:1px;">Space</span>
        </a>
        @Html.Partial("_LoginPartial")
        <div style="color:whitesmoke;">
            <p style="bottom:25px;position:fixed;padding-left:5px;">&copy; @DateTime.Now.Year - UnSpace</p>
        </div>
    </div>

    <div class="container body-content">
        <div style="text-align:center;margin:0 auto;">
            <span style="font-weight:bold;font-size:144px;color:skyblue;-webkit-text-stroke-color:white;-webkit-text-stroke-width:2px;">Un</span>
            <span style="font-weight:bold;font-size:144px;color:orange;-webkit-text-stroke-color:white;-webkit-text-stroke-width:2px;">Space</span>
        </div>
        <br />
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
