@using UnSpaceWebApp.Models
@model UnSpaceWebApp.Models.MySpace
@{
    ViewBag.Title = "Let's UnSpace Your Space!";
}

<h2>@ViewBag.Title</h2>

@if (Model != null)
{
    if (Model.SpaceDimensions.Width != null && Model.SpaceDimensions.Length != null)
    {
        <div id="mySpace" style="display:block;width:@(Model.SpaceDimensions.Width)px; height:@(Model.SpaceDimensions.Length)px;background-color:blue;"></div>
        <div id="searchFurn" class="spaceForm" >
            @using (@Html.BeginForm("FurnitureList", "Search", FormMethod.Post))
            {
                @Html.Label("SearchQ", "Furniture Type: ")
                @Html.TextBox("SearchQ", "" , new { @class = "form-control" })
                <button type="submit" id="button" class="btn-danger button">Search</button>
            }
        </div>
        <div class="items">
            @if (Model.items.Count > 0)
            {
                <form action="../Space/AddFurn" method="post">
                    @foreach (var m in Model.items)
                    {
                        <p>@m.Listing_Id</p>
                        <p>@m.Title</p>
                        <p>@m.Url</p>
                        <p>@m.Price</p>
                        <p>@m.Currency_Code</p>
                        <p>@m.Item_Width</p>
                        <p>@m.Item_Length</p>
                        <p>@m.Item_Height</p>
                        <p>@m.Item_Dimensions_unit</p>
                        <p><img src="@m.ImageThumbUrl" /></p>
                        @*<button type="submit" name="NewFurn" value="@m">Add</button>*@
                        @*<p><img src="@m.ImageFullUrl" /></p>*@
                    }
                </form>

                if (Model.items != null)
                {
                    <form action="../Search/FurnitureList" method="post">
                        <input type="text" name="SearchQ" value="@ViewBag.SearchQ" hidden />
                        @if (ViewBag.PrevPage != null)
                        {
                            <button type="submit" name="pageNo" value="@ViewBag.PrevPage">Prev</button>
                        }

                        @if (ViewBag.NextPage != null)
                        {
                            <button type="submit" name="pageNo" value="@ViewBag.NextPage">Next</button>
                        }
                    </form>
                    @*if (ViewBag.PrevPage != null)
                    {
                        <a href="@Url.Action("FurnitureList", "Search", new { pageNo = ViewBag.PrevPage, searchQ = ViewBag.SearchQ })">Prev</a>
                    }

                    if (ViewBag.NextPage != null)
                    {
                        <a href="@Url.Action("FurnitureList", "Search", new { pageNo = ViewBag.NextPage, searchQ = ViewBag.SearchQ })">Next</a>
                    }*@
                }
            }
        </div>
    }
}

@if (Model.SpaceDimensions.Width == null && Model.SpaceDimensions.Length == null)
{
    <div style="" id="generateSpace" class="spaceForm">
        @using (@Html.BeginForm("GenerateSpace", "Space", FormMethod.Post))
        {
            @Html.Label("Width", "Width: ")
            @Html.TextBox("Width", "", new { @class = "form-control" })
            @Html.Label("Length", "Length: ")
            @Html.TextBox("Length", "", new { @class = "form-control" })
            @Html.Label("Measurement", "Measurement: ")
            @Html.DropDownList("Measurement",
                            new SelectList(Enum.GetValues(typeof(TypesOfMeasurement))),
                            new { @class = "form-control" })
            <button onclick="ChangeForm()">Generate Space</button>
        }
    </div>
}