@model List<UnSpaceWebApp.Models.MySpace>
@{
    ViewBag.Title = "Favorites";
}

<h2>Favorites</h2>

@if(Model != null)
{
    <form action="../Space/Index" method="post">
        @for(var i=0; i < Model.Count; i++)
        {
            <div class="col-md-3">
                <h2><button name="Id" type="submit" value="@Model[i].Id">@Model[i].Name</button></h2>
                @foreach(var f in Model[i].furnList)
                {
                    <p><a href="@f.Url">@f.Title</a></p>
                    <p>@f.Price @f.Currency_Code</p>
                    <p><img src="@f.ImageThumbUrl" /></p>
                }
            </div>
        }
    </form>
}

@*@foreach (var product in Model)
{
        <div class="col-md-3" id="FavoritesView">            

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Name</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="@product.">Link 1</a>
                    <a href=""></a>
                    <a href="@product.ImageFullUrl">@product.Title</a>
                </div>
            </div>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Title</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>

            <div>
                <a href="..\UnSpaceDb\DeleteProduct?FavoriteId=" class="btn-danger">Delete</a>
            </div>


        </div>
}*@

        
    

    

