@model List<UnSpaceWebApp.Models.MySpace>
@{
    ViewBag.Title = "Favorites";
}


@if(Model != null)
{
    <form action="../Space/Index" method="post">
        @for(var i=0; i < Model.Count; i++)
        {
            <div class="col-md-3">
                <h2><button name="Id" type="submit" value="@Model[i].Id">@Model[i].Name</button></h2>
                @foreach(var f in Model[i].furnList)
                {
                    <p><a href="@f.Url">@f.Title</a></p>
                    <p>@f.Price @f.Currency_Code</p>
                    <p><img src="@f.ImageThumbUrl" /></p>
                }
            </div>
        }
    </form>
}


        
    

    

