@model List<UnSpaceWebApp.Models.EtsyItem>
@if (Model != null)
{
    foreach (var m in Model)
    {
        <p>@m.Listing_Id</p>
        <p>@m.Title</p>
        <p>@m.Url</p>
        <p>@m.Price</p>
        <p>@m.Currency_Code</p>
        <p>@m.Item_Width</p>
        <p>@m.Item_Length</p>
        <p>@m.Item_Height</p>
        <p>@m.Item_Dimensions_unit</p>
        <p><img src="@m.ImageThumbUrl" /></p>
        @*<p><img src="@m.ImageFullUrl" /></p>*@
    }
}


@if (Model != null)
{
    if (ViewBag.PrevPage != null)
    {
        <a href="@Url.Action("ProductList", "Search", new { pageNo = ViewBag.PrevPage, searchQ = ViewBag.SearchQ })">Prev</a>
    }

    if (ViewBag.NextPage != null)
    {
        <a href="@Url.Action("SearchPage", "Search", new { pageNo = ViewBag.NextPage, searchQ = ViewBag.SearchQ })">Next</a>
    }
}

